
      #our_products{      
            display: block;
            font-size: 190%;
            animation: linear infinite alternate;
            animation-name: run;
            animation-duration: 3s;
          }
          
          @keyframes run {
              0% {
                left: 100%;
                transform: translateX(5);
              }
              100% {
                right: 100%;
                transform: translateX(-5%);
              }
          }
.pc{
    margin-left: 15px;
    font-size:150%;
    margin-top: 10px;
    margin-bottom: auto;
}
#icon{
    color: blanchedalmond ;
    font-size: 180%;
}

#bell{
  font-size: 140%;
  margin-top: 12px;
  margin-right: 10px;
  color: blanchedalmond ;
}

#editbtn{
  
  background-color: aliceblue;
}